@import "tailwindcss";

@theme{
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
  --color-primary: #0A192F;
  --color-secondary: #324A6E;
  --color-background-primary: #FFFFFF;
  --color-background-secondary: #E8E5DA;
  --color-background-tertiary: #D1DBE8;
  --color-background-button-primary: #E8EDF2;
  --color-dark-mode: #1A202C;
  --color-text-primary: #0D141C;
  --color-text-secondary: #F7FAFC;
  --color-text-tertiary: #4F7396;
}

/* :root {
  font-family: var(--font-family-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.navbar-container {
  font-family: var(--font-family-primary);
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-weight: 800;
  flex-direction: row;
}

.div-button-login {
  background-color: var(--color-background-button-primary);
  font-weight: 600;
  font-size: 14px;
}

.div-button-register {
  background-color: var(--color-background-button-primary);
  font-weight: 600;
  font-size: 14px;
}

.button-login{
  background-color: var(--color-background-button-primary);
  color: var(--color-text-primary);
  font-size: 14px;
}

.button-login-active{
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  font-size: 14px;
}

.button-login:hover{
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  cursor: pointer;
}

.button-register{
  background-color: var(--color-background-button-primary);
  color: var(--color-text-primary);
  font-size: 14px;
}

.button-register-active{
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  font-size: 14px;
}

.button-register:hover{
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  cursor: pointer;
}

.div-line{
  border-top: 1px solid var(--color-primary);
  width: 100%;
}

.button-submit-register{
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  font-size: 12px;
  align-items: center;
}

.button-submit-register:hover{
  background-color: var(--color-background-button-secondary);
  color: var(--color-text-primary);
  border: 1px solid var(--color-primary);
  font-size: 12px;
  cursor: pointer;
}

.input-form-style{
  font-size: 12px;
  color: var(--color-text-tertiary);
  border: 1px solid var(--color-text-tertiary);
}

.label-form{
  font-size: 12px;
  color: var(--color-text-primary);
}

.button-account-register{
  background-color: var(--color-background-button-primary);
  color: var(--color-text-primary);
  font-size: 12px;
}
 /* .font-torres{
  font-family: var(--font-family-primary)
 }

 .button-suscribes :hover{
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  font-size: 12px;
  cursor: pointer;
 } */